@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BIBLIOTEKA MVC</h1>
    <p class="lead">Witaj w systemie bibliotecznym. Zaloguj się aby móc korzystać z funkcjonalności</p>

</div>

<div class="row">
    
    <div>
        @Html.ActionLink("Email Test", "SendEmail")
    </div>
</div>