
@{
    ViewBag.Title = "BorrowV2";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>BorrowV2</h2>


<div class="row">
    <div class="col-md-4">
        @Html.DropDownList("BookCopiesList")
    </div>

    <div class="col-md-8">
        <a href="#" id="Refresh" class="btn btn-default">Odśwież</a>
    </div>
</div>


@section scripts {
    @Scripts.Render("~bundles/jqueryval")
    @Scripts.Render("~/Scripts/selectize.js")


    <script type="text/javascript">
        var $select;

        $(document).ready(function () {
            $select = $('#BookCopiesList').selectize({
                valueField: 'BookID',
                labelField: 'ISBN',
                searchField: ['BookID', 'ISBN'],
                sortField: 'ISBN',
                onInitialize: function () {
                    loadBookCopiesAJAX();
                },
                render: {
                    option: function (item, escape) {
                        return '<div class="selectDiv">' +
                            '<span class="subLabel">Autor: </span>' + '<span class="subValue">' + escape(item.BookID) + '</span>' +
                            '<span class="subLabel">Imie: </span>' + '<span class="subValue">' + escape(item.ISBN) + '</span>' +
                            '</div>';
                    }
                }
            })

            $('#Refresh').click(function () {
                loadBookCopiesAJAX();
            })
        });

        function loadBookCopiesAJAX() {
            $.ajax({
                url: '/UserPanel/GetBookCopies',
                type: 'POST',
                success: function (data) {
                    for (var i = 0; i < data.length; i++)
                        $select[0].selectize.addOption(data[i]);
                },
                error: function (response) {
                    alert('Błąd: ' + response);
                }
            })
        }
    </script>
}




@section css {
    @Styles.Render("~/Content/selectize.bootstrap3.css")

    <style type="text/css">
        .selectize-dropdown .active {
            background-color: #428BCA;
            color: #FFFFFF;
        }

        div.selectDiv {
            border-bottom: 1px solid #e0e0e0;
        }

        .mainName {
            font-size: 12px;
        }

        .subLabel {
            font-size: 10px;
            font-weight: bolder;
            padding-left: 10px;
        }

        .subValue {
            font-size: 10px;
        }


        .mainRow {
        }

        .selectizeFormGroup {
        }
    </style>
}