@model projektMVC.Models.Book
@model IEnumerable<projektMVC.Models.Book>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Search</h2>

<div>
    @foreach ( b in ViewBag.Message)
    {


    }



</div>

@using (Html.BeginForm())
{

    <table>
        <tr>
            <td>
                Wpisz szukane słowo:
            </td>
            <td><input type="text" name="email" /> </td>
        </tr>

        <tr>
            <td>
                &nbsp
            </td>
            <td><input type="submit" value="Wyslij" /> </td>
        </tr>
    </table>






}