@model IEnumerable<projektMVC.Models.Book>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Search</h2>

<table class="table">
    @using (Html.BeginForm())
    {
        <div class"row">
            <form id="some_form">
                <p>
                    Wpisz fraze: @Html.TextBox("search")
                    <input name="buttonsub" type="submit" value="Szukaj" />
                </p>
            </form>
        </div>

    }


    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
                        @Html.ActionLink("Szczegóły", "", new { id = item.BookID}) |
            
            <td>
            </td>
        </tr>
    }

</table>




